

<header class="bg-primary text-white p-4 mb-4">
  <h1>Reactive Form</h1>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSignUp()" >
        <div class="form-group">
          <label class="username">Username*</label>
          <input type="username" formControlName="userName"   id="username"    class="form-control">
           <ng-container *ngIf="getUsernameControl.invalid && getUsernameControl.touched">
            <p class="alert alert-danger" 
            *ngIf= "getUsernameControl.hasError('required')">
              Username is Mandetory.
            </p>
            <p class="alert alert-danger" 
            *ngIf= "getUsernameControl.hasError('minlength')">
            Username minlength should be {{getUsernameControl.errors?.['minlength'].requiredLength}}
            </p>
           </ng-container>
          
           <ng-container *ngIf="getUsernameControl.invalid && getUsernameControl.dirty">
           <p class="alert alert-danger" 
           *ngIf= " getUsernameControl.hasError('maxlength')">
             Username maxlength should be {{getUsernameControl.errors?.['maxlength'].requiredLength}}
             and the actual length is {{getUsernameControl.errors?.['maxlength'].actualLength}}
           </p>
        
           <p class="alert alert-danger" 
           *ngIf= "getUsernameControl.hasError('noSpaceError')">
              {{getUsernameControl.errors?.['noSpaceError']}}
          </p>
           </ng-container> 
        </div>

        <div class="form-group">
          <label for="empid">Emp Id</label>
          <input type="text" class="form-control" placeholder="E123" id="empid"  formControlName="empId">
        </div>
        <ng-container *ngIf="f['empId'].invalid && f['empId'].touched">
          <p class="alert alert-danger" *ngIf="f['empId'].hasError('required')">
            Emp Id is required.
          </p>
          <p class="alert alert-danger" *ngIf="f['empId'].dirty && f['empId'].hasError('invalidEmpId') " >
          {{f['empId'].errors?.['invalidEmpId']}}
          </p>
        </ng-container>

        <div class="form-group">
          <ng-container *ngFor="let gender of gendersArray">
            <label [for]="gender">
              <input type="radio" [value]="gender" class="m-2" formControlName="gender" name="" [id]="gender">{{gender}}
            </label>
          </ng-container>
        </div>

        <div class="form-group">
          <label class="email">Email</label>
          <input type="email" formControlName="email" id="email"  class="form-control">
          <ng-container *ngIf="f['email'].pending && f['email'].dirty">
            <div class="spinner-border text-success" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-container>
        <ng-container *ngIf="f['email'].invalid && f['email'].touched">
          <p class="alert alert-danger" *ngIf="f['email'].hasError('required')">
            Email is required field.
          </p>
        </ng-container>
        <ng-container *ngIf="f['email'].invalid && f['email'].touched && f['email'].dirty">
          <p class="alert alert-danger" *ngIf="f['email'].hasError('pattern')">
            please Enter valid Email Id
          </p>
        </ng-container>
        <ng-container *ngIf="f['email'].invalid && f['email'].dirty">
          <p class="alert alert-danger" *ngIf="f['email'].hasError('forbiddenError')">
            {{f['email'].errors?.['forbiddenError']}}
          </p>
          <p class="alert alert-danger" *ngIf="f['email'].hasError('emailExistError')">
           This Email Already Exists
          </p>
        </ng-container>
        </div>
      

       <div class="row">
        <div class="col-sm-6 mt-4" formGroupName="currentAddress">
          <h5>Current Address</h5>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="address" class="form-control" formControlName="address">
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control" formControlName="country">
              <option value="">select country</option>
              <option [value]="country" *ngFor="let country of countriesArray">
              {{country}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="state">State</label>
            <input type="state" class="form-control" formControlName="state">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="city" class="form-control" formControlName="city">
          </div>
          <div class="form-group">
            <label for="zipcode">Zipcode</label>
            <input type="zipcode" class="form-control" formControlName="zipcode">
          </div>
        </div>

    
          <div class="col-sm-6" formGroupName="permanantAddress">
            <!-- <ng-container *ngIf="f['currentAddress'].valid">
              <input type="checkbox" name="" id="" (input)="onSameAddress()"> same as current Address
            </ng-container> -->
             
              <input type="checkbox" name="" id="" (input)="onSameAddress()" [disabled]="f['currentAddress'].invalid"> same as current Address
            

            <h5>Permanant Address</h5> 
            <div class="form-group">
              <label for="address">Address</label>
              <input type="address" class="form-control" formControlName="address">
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <select class="form-control" formControlName="country">
                <option value="">select country</option>
                <option [value]="country" *ngFor="let country of countriesArray">
                {{country}}
                </option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="state">State</label>
              <input type="state" class="form-control" formControlName="state">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="city" class="form-control" formControlName="city">
            </div>
            <div class="form-group">
              <label for="zipcode">Zipcode</label>
              <input type="zipcode" class="form-control" formControlName="zipcode">
            </div>
          </div>  
        </div>


       <div formArrayName="skills">
        <h5>Skills</h5>
            <div class="row" *ngFor="let skill of skillsFormArray.controls; let i =index">
              <div class="col-sm-10">
                <input type="text" name="" id=""  [formControlName]="i"      class="form-control mb-3">
              </div>
              <div class="col-sm-2" *ngIf="i > 0">
                <button class="btn btn-danger" (click)="OnDeleteControl(i)">
                  Delete
                </button>
              </div>
            </div>
            <div class="row">
            <div class="col text-right">
              <button class="btn btn-info" type="button" 
                *ngIf="skillsFormArray.length < 5; else hideSkillBtn "
              (click)="addMoreSkills()">Add More Skills</button>
              <ng-template #hideSkillBtn>
                <p class="alert alert-info text-left">
                   You can add 5 Skills.
                </p>
              </ng-template>
               </div>
            </div>
       </div>
         <hr>

        <div class="form-group ppass">
          <label class="Password">Password</label>
          <input [type]="hide1?'password': 'text'" formControlName="Password" id="Password"  class="form-control ">
          <mat-icon class="mat-i" (click)="hide1=!hide1">{{hide1?"visibility_off":"visibility"}}</mat-icon>
          <ng-container *ngIf="f['Password'].invalid && f['Password'].touched">
            <p class="alert alert-danger" *ngIf="f['Password'].hasError('required')">
            Password is Mandatory.
            </p>
            <p class="alert alert-danger" *ngIf="f['Password'].hasError('pattern')">
              Password should be containe least 1 Capitalletter, one Lowercase letter, one Special char & one nu.
              Min length of Password should be 8. 
            </p>
          </ng-container>
        </div>
        <div class="form-group ppass">
          <label class="confirmPassword">confirmPassword</label>
          <input [type]="hide?'password': 'text'" formControlName="confirmPassword" id="confirmPassword"  class="form-control cpass">
          <mat-icon class="mat-i" (click)="hide=!hide">{{hide?"visibility_off":"visibility"}}</mat-icon>
         <ng-container *ngIf="f['confirmPassword'].dirty">
          <p class="alert alert-danger" *ngIf="f['confirmPassword'].value != f['Password'].value">
            Password & confirmPassword should be same
          </p>
         </ng-container>
        </div>

       <div class="text-right">
        <button class="btn btn-primary" type="submit"
          [disabled]="signupForm.invalid || (f['confirmPassword'].value != f['confirmPassword'].value)">   
              Join Us
        </button>
       </div>
      </form>
    </div>
  </div>
</div>



{{this.signupForm.value | json}}